---
---

@import "{{ site.theme }}";
.navul nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #357CC0;
}

.navli nav {
    float: left;
}

.nava nav {
    display: block;
    color: #F1F1F1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nava nav:hover {
    background-color: #398DD5;
}
